body{
  background-image: url("images/bjo.jpg");
  background-repeat: repeat-x;
}
div{

}
.Allview{
  margin-left: 10%;
  margin-right: 10%;
  border: 5px green  solid;
  background-color: white;
}
.Middle_part{
  border: 5px blue  solid;
  background-color: #E8FBFB;
  padding: 5px;
  margin-top: 10px;
}
.Upper_part{
  border: 5px red solid;
}
.Bottom_part{
  border: 5px blue solid;
  background-color: #E8FBFB;
  padding: 5px;
  margin-top: 10px;

}
